pcm.lansink {
    type lansink

    # Receiver address.
    host "127.0.0.1"
    port 26751

    # Sample rates. 
    rate [ 44100 48000 ]

    # Number of channels.
    channels [ 1 2 ]

    # Sample formats.
    format [ U8 S16_LE S16_BE S32_LE S32_BE FLOAT_LE FLOAT_BE MU_LAW A_LAW ]

    # Largest packet size. See ifconfig(8).
    mtu 1500

    # Send queued data period in milliseconds.
    send_period 10

    # Debug log file location.
    # log "/tmp/lansink.log"

    # Log level, 0..4. Set to 0 to disable logging.
    # log_level 4
}
