// Sample UNAP daemon configuration file.

// Log file location.
log-path "/var/log/unapd.log"

// PID file location.
pid-path "/var/run/unapd.pid"

// Log level, 0..4. Set to 0 to disable logging.
log-level 3

// Enable running as a daemon.
daemon true

// Output ALSA device.
alsa-device "pulse"
