# Sample UNAP daemon configuration file.

# Log file location.
log-path "/var/log/unapd.log"

# PID file location.
pid-path "/var/run/unapd.pid"

# Log level, 0..4. Set to 0 to disable logging.
log-level 3

# Enable running as a daemon.
daemon true

# Incoming connection address.
host "127.0.0.1"
port 26751

# Output ALSA device.
alsa-device "pulse"

# Seconds to wait after for stream data to reappear.
recovery-timeout 120

# Milliseconds to wait between attempts to open device.
open-timeout 2000

# Number of packets preserved if failed to open device.
buffered-packets 10

# Do not try to open device if it is already in use.
exclusive false
